@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400&display=swap');

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 9vh;
    align-content: center;
    background-color: #279EFF;
    align-items: center;
}
*:focus {
    outline: none;
}

.logo{
    height: 3.5vh;
}

.navs ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    font-weight: 500;
    font-size: initial;
    
}

.navs ul li {
    text-decoration: none;
    margin: 0px 1rem;
    
}

.navlinks{
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: initial;
    font-family: Roboto;
}

.search{
    width: 70vh;
    height: 3.7vh;
    border: none;
    border-radius: 1vh;
    color: rgb(146, 140, 140);
}

 .search :focus{
    width: 70vh;
    height: 3.7vh;
    border: none;
    border-radius: 3px;
    outline: none;
}

@media only screen and (max-width: 600px) {
    .navbar {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 15vh;
        align-content: center;
        background-color: #279EFF;
        align-items: flex-start;
    }
    .logo {
        height: 2.5vh;
        margin-top: 3vh;
    }
    .info {
        display: flex;
        align-items: center;
        width: auto;
        margin-right: 4vh;
        flex-wrap: wrap;
        margin-left: 5vh;
        justify-content: center;
    }
    .info-image{
        height: 40vh;
    }
    .infotext{
        font-size: 1.5em;
    }
    .main-container{
        overflow: auto;
    }
    .slide-container {
        display: flex;
        flex-direction: column;
        border-radius: 1vh;
        margin: 1vh 1vh;
        padding: 0px 1vh;
        width: 30vh;
        background: whitesmoke;
        /* border: 1px solid; */
        box-shadow: 1px 1px 7px 0px;
        /* height: 23vh; */
        justify-content: space-between;
    }

    .filterbar {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .other-filter {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .other-filter {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .xps {
        display: flex;
        flex-direction: column;
        margin: auto;
        align-items: center;
    }
  }